.foodDetailName {
  font-size: 22pt;
  font-weight: 700;
}

.detailView > hr {
  width: 100%;
  border: none;
  border-top: 5px solid rgb(77, 77, 77);
  height: 0px;
  margin-block-start: 8px;
  margin-block-end: 0px;
}

.detailView {
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 12px 0px 5px;
  padding: 12px;
  border-radius: 5px;
  z-index: 5;
  position: relative;
}

.nutritionRow {
  border-bottom: 1px solid rgb(77, 77, 77);
  padding: 3px 0;
  box-sizing: border-box;
  font-weight: 500;
}

.nutritionRow.subNutritionRow {
  padding-left: 16px;
  font-size: 0.8em;
}

.nutritionRow.caloriesRow {
  font-size: 1.5em;
}

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detailCloseButton {
  font-size: 22pt;
  flex: 0 0 auto;
  cursor: pointer;
  /* box-sizing: border-box; */
  padding: 4px 0 0;
}
